body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    line-height: 1.6;
    background-color: #f1cf6f91;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #2a2a2a;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    font-style: italic;
}

.inicial {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: justify;
    max-width: 800px;
}

.centralizar {
    margin-bottom: 15px;
    font-size: 20px;
    text-align: center;
}

#cent {
    margin-bottom: 15px;
    font-size: 30px;
    text-align: center;
}

.img1 {
    display: block;
    max-width: 30%; 
    height: auto;
    margin: 15px auto;
}

#img2 {
    display: block;
    max-width: 40%; 
    height: auto;
    margin: 15px auto;
}

p + img {
    margin-top: 10px;
}

.menu {
    justify-content: center;
    background-color: #333;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 100%;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #555;
}